# BTCPay Server
BTCPAY_URL=
BTCPAY_API_KEY=
BTCPAY_STORE_ID=

# Gemini
GEMINI_API_KEY=

# Quiz config
REWARD_SATS=1000
MIN_SCORE_TO_CLAIM=70
TOTAL_QUESTIONS=2

# Free Chat API _ LLAMA
LLAMA_API_URL=
LLAMA_API_TOKEN=
